body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: antiquewhite;
    height: 80px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: antiquewhite;
    height: 100px;
    border-radius: 20px;
    text-align: left;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

nav {
    background: #f0e68c;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.content {
    padding: 20px;
    text-align: center;
}

.bordered-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px 0;
}

.activity-container {
    margin: 20px 0;
}

h1 {
    margin-left: 30px;
    color: palevioletred;
}

ul {
    text-decoration: none;
    font-size: small;
    text-align: right;
    word-spacing: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px; /* Space between the images */
    background-color: lightblue;
    width: 100%;
}

.img img {
    width: 100%; /* Ensures images fill the column */
    height: 100px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Crop images to maintain aspect ratio */
}

.row {
    background-color: antiquewhite;
    width: auto;
    margin: 20px;
}

.column {
    background-color: antiquewhite;
    width: 100px;
}